<div class="grid">
    <div class="col-12 md:col-6 gap-2">
        <div class="card">
            <h5>Cluster 1</h5>
            <p-table [value]="podsCluster1">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Pod name</th>
                        <th>Status</th>
                        <th style="width: 4rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pod let-rowIndex="rowIndex">
                    <tr>
                        <td style="min-width: 200px;">
                            {{pod.name}}
                        </td>
                        <td style="min-width: 200px;">
                            <span [class]="'pod-badge status-' + pod.status">{{pod.status}}</span>
                        </td>
                        <td>
                            <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-outlined" (click)="deletePod('cluster1', pod.name)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
         
    </div>
    <div class="col-12 md:col-6 gap-2">
        
            <div class="card">
                <h5>Cluster 2</h5>
                <p-table [value]="podsCluster2">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Pod name</th>
                            <th>Status</th>
                            <th style="width: 4rem"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-pod let-rowIndex="rowIndex">
                        <tr>
                            <td style="min-width: 200px;">
                                {{pod.name}}
                            </td>
                            <td style="min-width: 200px;">
                                <span [class]="'pod-badge status-' + pod.status">{{pod.status}}</span>
                            </td>
                            <td>
                                <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-outlined" (click)="deletePod('cluster2', pod.name)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
         
    </div>
