.pod-badge {
  border-radius: var(--border-radius);
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.status-Running {
  background: #C8E6C9;
  color: #256029;
}
.status-Pending {
  background: #FFCDD2;
  color: #C63737;
}
